* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    perspective: 1000px;
    font-family: "Poppins", sans-serif;
  }
  
  .Navbar {
    background-color: white;
  }
  
  nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  .link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #000000;
  }
  
  .link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(210, 70, 70);
    transition: 0.3s;
  }
  
  .link a:hover::after {
    width: 50%;
  }
  
  .btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #000000;
    background-color: lightblue;
    border-radius: 50px;
    cursor: pointer;
    transform: scale(0.9);
    transition: all ease 0.8s;
  }
  
  .btn:hover {
    background-color: blue;
    transform: scale(1.9);
    transform: translateZ(15px);
  }
  
  img {
    width: 5vw;
    display: flex;
  }
  
  a {
    text-decoration: none;
  }
  
  .bg__blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px rgb(210, 70, 70);
    z-index: -1;
  }
  
  .main-banner {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
  
  .Search-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 60%;
    margin: auto;
  }
  
  .Search-bar input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 25px;
  }
  
  .Search-bar button {
    padding: 0.5rem 1rem;
    background-color: lightblue;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .Search-bar button:hover {
    background-color: blue;
  }