
.footer-section {
    position: relative;
    width: 100%;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.footer-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
    position: relative;
    z-index: 1;
}

/* Footer Left Section */
.footer-left {
    width: 35%;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo-image {
    width: 50px;
}

.footer-description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.footer-details {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.icon {
    font-size: 18px;
    color: #00bcd4;
}


.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icon {
    font-size: 20px;
    color: #fff;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #00bcd4;
}

.footer-right {
    display: flex;
    gap: 60px;
    width: 60%;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-links a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #00bcd4;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
    position: relative;
    z-index: 1;
}
